@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: "Neue";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Neue.ttf") format("opentype");
  }
}

.link {
  color: white;
  font-weight: 500;
  text-decoration: none;
  display: block;
}

.link:hover {
  color: #c4d086;
}

img {
  user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
}

body {
  background-color: #c4d086;
}
